*{
    box-sizing: border-box;
}
.hidden{
    visibility: hidden;
}

body{
    display: grid;
    grid-template-rows:  [settings] 50px [content] 1fr [footer] 100px;
    grid-template-columns: [header] 200px [content] 1fr;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

header{
    grid-row: settings / content-end;
    grid-column: header;
    border-right: 1px solid #ccc;
    background: white;
    padding: 5px;
    z-index: 1;
    position: relative;
    select {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .mattersList{
        list-style: none;
        padding-left: 15px;
        li{
            margin-bottom: 5px;
        }
        label{
            border: 1px solid #ccc;
            display: block;
            height: 30px;
            padding: 3px 8px;
            border-radius: 15px;
        }
    }
}

footer {
    grid-row: footer;
    grid-column: content;
    z-index: 1;
    position: relative;
}
.settings{
    grid-row: settings;
    display: flex;
    z-index: 1;
    position: relative;
    button{
        flex: 0 0 auto;
        margin: 5px;
        padding: 0px 15px;
        border: 1px solid #ccc;
        border-radius: 50%;
        &:focus, &:active{
            outline: none;
        }
    }
    div{
        flex: 1 0 auto;
        padding: 14px;
        text-align: center;
        span{
            margin: 0px 10px;
        }
    }
}
.calendar{
    grid-row: content;
    grid-column: content;
    overflow: hidden;
    flex-direction: column;
    border-top: 1px solid #ccc;
    justify-items: save;
    z-index: 0;
    position: relative;
    display: none;
    transition: transform linear 0.75s;
    &.current, &.prev, &.next{
        display: flex;
    }

    &.current{
        transform: translateX(0%);
    }
    &.prev{
        transform: translateX(-100%);
    }
    &.next{
        transform: translateX(100%);
    }

    .dayNameBox{
        flex: 0 0 75px;
        box-shadow: 0px 0px 5px #000;
        display: flex;
        flex-direction: row;
        position: relative;
        z-index: 1;
        .dayNameContainer{
            flex: 1 0 auto;
            margin-left: 75px;
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;
            .dayName{
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                flex: 0 0 (98%/7);
                background: white;
                padding: 5px;
                position: sticky;

                h3{
                    margin: 0;
                }
            }
        }
        .scrollBarSpace{
            flex: 0 0 auto;
            visibility: hidden;
            overflow: scroll;
        }
    }
    .scrollWrapper{
        flex: 1 1 auto;
        overflow: scroll;
        position: relative;
        z-index: 0;


        .weekWrapper {
            display: flex;
            flex-direction: row;
            .time{
                flex: 0 0 75px;
                display: flex;
                flex-direction: column;
                padding: 5px;
                span{
                    flex: 1 1 auto;
                }
            }
            .week{
                flex: 1 1 auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .day{
                    border: 1px solid #ccc;
                    background: #eee;
                    flex: 0 0 (98%/7);
                    display: grid;
                    grid-auto-rows: 1fr;
                    padding: 5px;

                    .event{
                        background: white;
                        word-wrap: break-word;
                        word-break: break-all;

                        @for $hour from 0 through 23 {
                            @each $quarter, $minute in (0, "0"), (1, "15"), (2, "30"), (3, "45") {
                                &.begin-#{$hour}-#{$minute}{
                                    grid-row-start: $hour*4 + $quarter + 1; //offset, because 1-indexed
                                }
                            }
                        }

                        &.end-0-0{
                            grid-row-end: 24*4 + 1; //offset, because 1-indexed
                        }

                        @for $hour from 1 through 23 {
                            @each $quarter, $minute in (0, "0"), (1, "15"), (2, "30"), (3, "45") {
                                &.end-#{$hour}-#{$minute}{
                                    grid-row-end: $hour*4 + $quarter + 1; //offset, because 1-indexed
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}